* {
	margin:0px;
}
body {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:red;
}
#quote-box {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:600px;
	height:350px;
	background:wheat;
	display:flex;
	flex-direction:column;
	#quotePart {
		display:flex;
		flex-direction:column;
		background:blue;	
		height:70%;
		#text {
			height:70%;
			background:olive;
			position:relative;
		    text-align: center;
		    padding-top: 30%;
		    p {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-size: 30px;
				width: 70%;
		    }
		}
		#author {
			height:30%;
			position:relative;
			p {
				position: absolute;
				right: 8%;
				bottom: 10%;
				font-size: 30px;
			}

		}
	}
	#buttons {
		display:flex;
		height:30%;

		#tweet-quoteDiv {
			position:relative;
			background:green;
			color:white;
			width:50%;

		}
		#new-quoteDiv {
			position:relative;
			background:olive;
			color:white;
			width:50%;

		}
	}
}
.button {
	background:black;
	width:fit-content;
	padding:10px;
	position:absolute;
	bottom:10%;
	left:50%;
	transform:translate(-50%,10%);
	cursor:pointer;
}